.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .login-container {
        background-color: hsla(0, 54%, 68%, 0.6);
        border-radius: 35px;
        padding: 25px 30px;
        min-width: 400px;
        width: 30%;
        max-width: 600px;
        /* jsbdkfjasbe */
        /* position: absolute;
        right: 120px;
        padding: 60px; */
        position: absolute;
        right: 60px;
        width: 300px;
        padding: 10px;
        }

        .full-screen-container {
            background-image: url("/assets/12.png");
            background-color: azure;
            margin: auto;
            width: 100%;
            border-radius: 15px;
            height: 60vh;
            width: 70vw;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            }
             